<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Practice Suite">
    <test name="regression">
        <classes>
            <class name="reqres.ListOfUsersTest"/>
            <class name="reqres.CreateUsersTest"/>
        </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->